<div class="container">
    <form #form="ngForm" (submit)="addnew(form)">
  
      
  
        <div class="form-group">
        <label>Code</label>
        <input type="text" name="code" #code="ngModel" class="form-control" [(ngModel)]="compCode">
        </div>
        
        <div class="form-group">
        <label>Stock Price</label>
        <input type="text" name="cname" #cname="ngModel" class="form-control" [(ngModel)]="stkPrice">
        </div>
        
      <button class="btn btn-primary mr-2" type="submit">Save</button>
      <a [routerLink]="['/ManageCompany']" routerLinkActive="router-link-active" class="btn btn-danger mr-2">Back</a>
    </form>
  </div>