<div class="container">
  <div class="row">

<div class="search-hero">
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching">
</div>

  <table class="table table-bordered">
    <thead>
        <tr>
          <th>Code</th> 
          <th>Name</th> 
          <th>CEO</th> 
          <th>Website</th> 
          <!-- <th>Turn Over</th>  -->
          <th>Stock Exchange</th>
        </tr>
    </thead>
      <tbody>
      <tr *ngFor="let item of companylist | filter:searchText">
          <td>{{item.compcode}}</td>
          <td>{{item.compname}}</td>
          <td>{{item.ceo}}</td>
          <td>{{item.website}}</td>
          <!-- <td>{{item.turnOver}}</td> -->
          <td>{{item.stkex}}</td>
          <td>
          <!-- <a [routerLink]="['/EditCompany']" routerLinkActive="router-link-active" class="btn btn-primary mr-2" (click)="StoreCompany(item)">Edit</a> -->
          <button class="btn btn-danger mr-2" (click)="DeleteC(item.compcode)">Delete</button>
          </td>
      </tr>
    </tbody>
  </table>
</div>
</div>


<br>
<br>
<br>
<div class="float-md-left">
  <a [routerLink]="['/NewCompany']" routerLinkActive="router-link-active" class="btn btn-primary mr-2">New Company</a>
  <a [routerLink]="['/Admin']" routerLinkActive="router-link-active" class="btn btn-danger mr-2">Back</a>
</div>

