<div class="container">
    <form #form="ngForm" (submit)="addnew(form)">
        <div class="form-group">
        <label>Code</label>
        <input type="text" name="code" #code="ngModel" class="form-control" [(ngModel)]="compCode">
        </div>
        
        <div class="form-group">
        <label>Start Date</label>
        <input type="text" name="sDate" #sDate="ngModel" class="form-control" [(ngModel)]="startDate">
        </div>
        
        <div class="form-group">
        <label>End Date</label>
        <input type="text" name="eDate" #eDate="ngModel" class="form-control" [(ngModel)]="endDate">
        </div>
        
      <button class="btn btn-primary mr-2" type="submit" (click)="toggleDisplay()">Go</button>

      <a [routerLink]="['/ManageCompany']" routerLinkActive="router-link-active" class="btn btn-danger mr-2">Back</a>
    </form>
    <div class="row" [hidden]= "ishide">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Code</th> 
                    <th>Date</th> 
                    <th>Time</th> 
                    <th>Stock Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of all_stocks">
                    <td>{{item.compcode}}</td>
                    <td>{{item.date}}</td>
                    <td>{{item.time}}</td>
                    <td>{{item.stkprice}}</td>
                </tr>
            </tbody>
        </table>
        <div>
            <button class="btn btn-danger mr-2" (click)="toggleDisplay()">Done</button>
        </div>
    </div>

</div>